services:
  rabbitmq:
    image: rabbitmq:3.11
    ports:
      - "5672:5672"
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
  event_store:
    image: eventstore/eventstore:lts
    ports:
      - "2113:2113"
      - "1113:1113"
    environment:
      INSECURE: "true" 